{% extends './public/base.html' %}
{% block title %}About - Tevisa{% endblock %}
{% block content %}
<!-- About Section -->
<div class="container justify-content-center my-3">
    <h1 class="text-center">About TEVISA</h1>
    <p class="lead">
        The Technical Education and Vocational Institutions Sports Association (TEVISA) is a sports association
        dedicated to fostering athletic development and competition among technical and vocational institutions
        across
        Zambia. TEVISA serves as a platform for students to showcase their sporting talents, build teamwork, and
        promote
        physical fitness, while instilling discipline and the values of fair play.
        Our Mission
        Our mission is to promote sports participation and physical education among technical and vocational
        students in
        Zambia, providing opportunities for personal growth, physical fitness, and the development of sporting
        talent.
        Our Vision
        TEVISA envisions a future where every student in Zambia&apos;s technical and vocational institutions has
        access
        to
        quality sports programs and opportunities to compete in national and international competitions.
    </p>


    <h1 class="mt-4">Objectives</h1>
    <p class="lead">
        To organize and manage annual sports tournaments for technical and vocational institutions across Zambia.
        To provide a platform for students to develop and showcase their talents in various sports.
        To promote the spirit of competition, teamwork, and fair play among students.
        To enhance collaboration between institutions through sports.
        To contribute to the overall health and well-being of students through regular physical activities.
    </p>

    <h1 class="mt-4">TEVISA Activities</h1>
    <p class="lead">
        TEVISA organizes a range of sporting activities and tournaments every year, bringing together students from
        technical and vocational institutions across the country. Our activities include:
        Annual Sports Tournaments
        We host a wide variety of sports competitions, including:
    <ul>
        <li class="lead">Football (Soccer)</li>
        <li class="lead">Basketball</li>
        <li class="lead">Volleyball</li>
        <li class="lead">Netball</li>
        <li class="lead">Athletics (Track and Field)</li>
        <li class="lead">Chess</li>
        <li class="lead">Tennis</li>
    </ul>







    <p class="lead">
        These tournaments are held at both regional and national levels, and participants have the opportunity to
        compete for honors, scholarships, and recognition from the sports community in Zambia.
        Workshops & Training Programs
        In addition to competitions, TEVISA organizes workshops for coaches, sports officials, and students,
        focusing
        on:
    </p>
    <ul>
        <li class="lead">Sports management</li>
        <li class="lead">Coaching and training techniques</li>
        <li class="lead">Sportsmanship and fair play</li>
        <li class="lead">Physical fitness and health education</li>
    </ul>
    </p>

    <h1 class="mt-4">TEVISA Member Institutions</h1>
    <p class="lead">
        TEVISA membership is open to all technical and vocational institutions in Zambia. Member institutions
        actively
        participate in TEVISA-organized tournaments and events, benefiting from our sports programs, coaching
        workshops,
        and training seminars.
        Some of our esteemed member institutions include:
    <ul>
        <li class="lead"> Institute of Business and Industrial Practice (ZIBSIP)</li>
        <li class="lead">Evelyn Hone College</li>
        <li class="lead">Nkrumah University</li>
        <li class="lead">Northern Technical College (NORTEC)</li>
        <li class="lead">Livingstone Institute of Business and Engineering Studies (LIBES)</li>
    </ul>
    And many more...
    </p>

    <h1 class="mt-4">Why Join TEVISA?</h1>
    <p class="lead"> Opportunities for Competition:</p>
    <ul>
        <li class="lead">
            TEVISA provides a structured platform for your institution to compete at regional
            and national levels in various sports.
        </li>
        <li class="lead">
            Talent Development: Students have a chance to grow and excel in their chosen sports disciplines.
        </li>
        <li class="lead">
            Networking: Connect with other institutions, coaches, and athletes across Zambia.
        </li>
        <li class="lead">
            Access to Resources: Gain access to workshops, training programs, and sporting events that help develop
            students
            both physically and mentally.
        </li>
        <li class="lead">
            National Recognition: Outstanding performers in TEVISA tournaments often receive recognition and
            opportunities
            at national sports events.
        </li>
    </ul>

    <h3 class="mt-4">How to Get Involved</h3>

    <h5>For Students</h5>
    <ul>
        <li>
            <p class="lead">
                Check with your college's sports department to register for your favorite sport.
            </p>
        </li>
        <li>
            <p class="lead">
                Keep an eye on the Tournaments and Fixtures section on our website for updates on upcoming events.
            </p>
        </li>
    </ul>
    <h5>For Institutions</h5>
    <ul>
        <li>
            <p class="lead">
                If your institution is not yet a member, you can register online through our Team Registration
                portal.
            </p>
        </li>
        <li>
            <p class="lead">
                Institutions must submit team rosters and coaches’ details for upcoming tournaments.
            </p>
        </li>
    </ul>



    <h3 class="mt-4">Contact Us</h3>
    <p class="lead">
        For more information about TEVISA, membership, or upcoming events, feel free to contact us: <br />
        Address: <br />
        TEVISA Headquarters <br />
        Lusaka, Zambia <br />
        Email: info@tevisa.org.zm <br />
        Phone: +260 211 1234567 <br />
        Website: www.tevisa.org.zm <br />
        Stay connected with us through our social media channels for the latest news and updates! <br />
    </p>
</div>

{% endblock %}